extends layout

block body
  .container      
    div(ng-controller='UserSearch')
      .jumbotron  
        h1 知乎 Stat
        form(ng-submit='getZhihuUser()')
          input#search-bar.form-control(ng-model='username', type='text', placeholder='搜索知乎用户') 
          input#search-button.btn.btn-primary(type='submit', value='搜索')
        div#zhihuUser
          span#name
            p Name: {{user.name}}
          span#location
            p Location: {{user.location}}
          span#Following
            p Following: {{user.following}}
          span#follower
            p Followers: {{user.followers}}
          span#questions
            p Question: {{user.questions}}
          span#answers
            p Answers: {{user.answers}}
          span#essays
            p Essays: {{user.essays}}
          span#bookmarks
            p Bookmarks: {{user.bookmarks}}
          span#edits
            p Edits: {{user.edits}}
          span#profileViews
            p Profile Views: {{user.profileViews}}

  div#footer
    .container
      span#github
        a(href="https://github.com/tangerinewhite32/zhihu-stat") 
          img.social-icon(src="http://i.imgur.com/vYMRcjU.png", alt="Github: Zhihu-Stat")
      span#twitter
        a(href="https://twitter.com/atav32") 
          img.social-icon(src="http://i.imgur.com/HHwWbWk.png", alt="Twitter: @atav32")

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
