!!!
html(ng-app="zhihuStatsApp")
  head
    meta(charset='utf8')
    base(href='/')
    title 知乎 Stats
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/app.css')
  body
    block body
